@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./colors.css";
@import "./semantic-tokens.css";

@layer base {
  * {
    @apply antialiased box-border scroll-smooth scroll-mt-20 p-0 m-0;
  }

  main {
    @apply max-w-[1024px] mx-auto;
  }
}

body {
  color: var(--body);
  background-color: var(--bg);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

main {
  transition: background-color 200ms linear !important;
}

p {
  margin-bottom: 1.5rem;
  letter-spacing: var(--letter-spacing-wide);
  line-height: 1.5;
}

strong {
  font-weight: 800;
}

/* Root font size responsiveness */
:root {
  font-size: 1rem;
}

@media (min-width: 768px) {
  :root {
    font-size: 1.25rem;
  }
}

/* Dark mode enhancements */
.dark body {
  color: var(--body);
  background-color: var(--bg);
}

.container {
  max-width: 60ch;
  margin-bottom: 2rem;
}
