@tailwind base;

@layer base {
  :root {
    --primary: var(--fuchsia-400);
    --primary-hover: var(--fuchsia-200);
    --primary-light: var(--fuchsia-50);
    --body: var(--black-alpha-900);
    --bg: var(--gray-50);
    --alpha-900: var(--white-alpha-900);
    --alpha-800: var(--white-alpha-800);
    --alpha-700: var(--white-alpha-700);
    --alpha-invert-100: var(--black-alpha-100);

    --gradient-rainbow: linear-gradient(
      to right,
      red,
      orange,
      #aa0,
      green,
      blue,
      indigo,
      violet
    );
  }

  [data-theme="dark"] {
    --primary: var(fuchsia-500);
    --primary-hover: var(fuchsia-300);
    --primary-light: var(fuchsia-800);
    --body: var(white-alpha-900);
    --bg: var(gray-800);
    --alpha-900: var(black-alpha-900);
    --alpha-800: var(black-alpha-800);
    --alpha-700: var(black-alpha-700);
    --alpha-invert-100: var(white-alpha-100);
    --gradient-rainbow: linear-gradient(
      to right,
      #ff6666,
      #ffa666,
      #ffff66,
      #66b066,
      #8888ff,
      #8c66a2,
      #ffbbff
    );
  }
}
